#about
    background-color: #1abc9c
    color: #ffffff
    h1
        font-size: 40px
        font-weight: 700
        margin: 20px 0
    .icon
        font-size: 35px
    .textbox
        width: 300px
        font-size: 25px
    .btn
        border: 1px solid #ffffff
        width: 200px
        &:hover
            background-color: #ffffff
            .icon
                color: #000000
            h2
                color: #000000
        .icon
            font-size: 20px
            color: #ffffff
        h2
            font-size: 20px
            margin-left: 5px
            color: #ffffff
